@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --fontGrey: #6C7070;
  --fontTitle: #000000;
  --fontText: #000000;
  --buttonActivated: #007BC0;
  --buttonActivatedHover: #003f64;
  --buttonDesabled: #6C7070;
  --backgroundCard: #EBF3F9;
  --blueLight: #CEE7FF;
  --blueMiddle: #8CC8FF;
  --blueMiddleHover: #5897d3;
  --fontButton: #FFFFFF;
  --card: #ffffff;
  --purpleCard: #6E368C;
  --pinkCard: #cc5dc3;
  --greenCard: #88BB70;
  --greyOpacity: rgba(169,169,169,0.5);
  --bgChatBlue: #e9f3f7;
  --buttonRed: #b90c0c;
  --buttonRedHover: #3a0000;

  --backgroundDark: #2b2b2c;
  --fontGreyDark: #D9D9D9;
  --fontTitleDark: #ffffff;
  --fontTextDark: #ffffff;
  --buttonActivatedDark: #004972;
  --buttonActivatedHoverDark: #001c2c;
  --buttonDesabledDark: #6C7070;
  --backgroundCardDark: #2b2f3a;
  --blueLightDark: #386794;
  --blueMiddleDark: #11416F;
  --blueMiddleDarkHover: #0c3f6e;
  --fontButtonDark: #ffffff;
  --cardDark: #555555;
  --purpleCardDark: #592277;
  --pinkCardDark: #691562;
  --greenCardDark: #508637;
  --greyOpacityDark: rgba(117, 117, 117, 0.5);
  --bgChatBlueDark: #2b2b2b;
  --buttonRedDark: #6e0101;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2F2F2F;
    --fontGrey: #D9D9D9;
    --fontTitle: #ffffff;
    --fontText: #ffffff;
    --buttonActivated: #004972;
    --buttonActivatedHover: #013757;
    --buttonDesabled: #6C7070;
    --backgroundCard: #4B6F8A;
    --blueLight: #386794;
    --blueMiddle: #11416F;
    --fontButton: #ffffff;
    --card: #555555;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
